<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>548414916189-28q2faind1ang9t2clfs8u6aia62damk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.548414916189-28q2faind1ang9t2clfs8u6aia62damk</string>
	<key>API_KEY</key>
	<string>AIzaSyBNBL941K5JofKbwpxfvcGNGBDrHiCL5ws</string>
	<key>GCM_SENDER_ID</key>
	<string>548414916189</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.P2PLending</string>
	<key>PROJECT_ID</key>
	<string>p2plending-28849</string>
	<key>STORAGE_BUCKET</key>
	<string>p2plending-28849.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:548414916189:ios:15c0ee05a1a398a9</string>
	<key>DATABASE_URL</key>
	<string>https://p2plending-28849.firebaseio.com</string>
</dict>
</plist>